.ContactListContainer {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactsList {
  width: 100%;
  list-style: none;
}

.contactItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(185, 184, 184, 0.534);
}
.contactItem:last-child {
  border-bottom: none;
}
.contactItem img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.contactItem p {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.abbreviated {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}
.abbreviated span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 217, 255);
  color: white;
  border-radius: 50%;
  text-align: center;
}
.contactItem button {
  border: none;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.contactItem button img {
  margin: 0;
}
.marginRight {
  margin-right: 8px;
}
.contactItem .edit {
  background-color: rgb(94 234 158);
  margin-left: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
}
.contactItem .edit:hover {
  background-color: rgb(213, 247, 213);
}
.contactItem .trash {
  color: red;
  width: 30px;
  height: 30px;
}
.contactItem .trash:hover {
  background-color: rgb(248, 71, 71);
  color: white;
}
.contactItem input {
  width: auto;
}
@media (max-width: 750px) {
  .userEmail {
    display: none !important;
  }
}
@media (max-width: 580px) {
  .contactItem .trash,
  .contactItem .phone {
    display: none !important;
  }
  .contactItem {
    justify-content: flex-start;
  }
}
